.section {
    text-align: left;
    display: inline;
}

.section a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.section li{
    list-style-type: none;
}

.section .headtitle_dot{
    float: left;
    font-size: 700%;
    font-family: monospace;
    padding-top: 5px;
}

.section .headtitle{
    float: left;
    font-size: 700%;
    padding-left: 10px;
    font-family: monospace;
    padding-top: 5px;
}

.section .subheadings {
    float: right;
    font-size: 250%;
    padding-top: 5%;
    padding-right: 2%;
    font-family: monospace;
}

.section .subheadings a{
    color: rgb(100, 100, 100);
}

.section .headtitle_dot a{
    color: rgb(255, 0, 0);
}

  
  




