.section {
    text-align: left;
    display: inline;
}

.section a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.section li{
    list-style-type: none;
}

.section .headtitle_dot{
    float: left;
    font-size: 30px;
    font-family: monospace;
    padding-top: 14px;
}

.section .headtitle{
    float: left;
    font-size: 35px;
    padding-left: 2%;
    font-family: 'Creepster' ,monospace;
    padding-top: 8px;
}

.section .headtitle{
    color: red;
}

.section .subheadings {
    float: right;
    font-size: 20px;
    padding-top: 18px;
    padding-right: 2%;
    font-family: monospace;
}

.section .subheadings a{
    color: rgb(100, 100, 100);
}

.section .headtitle_dot a{
    color: rgb(255, 0, 0);
}

  
  




