/*Navigation*/

.navigation{
    background-color: rgb(255, 255, 255);
    float: left;
    padding-bottom: 10px;
    padding-top: 20px;
}

/*Navigation Overview*/

.nav_overview h1{
    font-size: 40px;
    font-family: 'Creepster';
    color: black;
    text-decoration: underline rgb(255, 0, 0);
}

.nav_overview {
    text-align: center;
    font-size: 20px;
    margin: auto;
    width: 70%;
}

/*Usage Notes*/

.navigation tr td.aside h2{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: overline rgb(0, 0, 0);
    width: 75%;
    padding-left: 20px;
}

.navigation tr td.aside p{
    font-size: 17px;
    color: rgb(0, 0, 0);
    width: 75%;
    padding-left: 20px;
}

/*Image*/

.navigation tr td.main{
    color: rgb(0, 0, 0);
    font-size: 100%;
    padding-right: 100px;
}

.navigation tr td img{
    opacity: 50%;
    position: relative;
    border: solid rgb(255, 0, 0) 3px;
    border-radius: 5px;
    min-width: 300px;
    max-width: 500px;
}



/*Examples*/

.examples{
    padding-top: 10px;
    font-size: 17px;
    color: rgb(30, 255, 0);
}

.navigation .examples h2{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: overline rgb(0, 0, 0);
    margin-bottom: 10px;
    padding-top: 200px;
    padding-left: 20px;
}

.navigation .examples p{
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 17px;
    width: 60%;
    padding-left: 20px;
}

.navigation .examples .examples_1 p{
    color: rgb(30, 255, 0);
    padding-left: 20px;
    text-align: left;
    width: 60%;
}

.navigation .examples .examples_1{
    border: solid red 3px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(35, 35, 35);
    margin-left: 30px;
    text-align: justify;
}

.navigation .examples .examples_1 ul {
    list-style: none;  
}
