/*Navigation*/

.navigation{
    padding-top: 100px;
}

/*Navigation Overview*/
.navigation_overview {
    text-align: center;
    width: 60%;
    margin: auto;
}

.navigation_overview p{
    font-size: 30px;
    font-family: monospace;
    color: black;
    text-align: center;
}

/*Usage Notes*/
.navigation_table .navigation_description .navigation_aside{
    text-align: left;
    padding-left: 20px;
    width: 75%;
    min-width: 500px;
    margin-top: 20px;
    border-top: solid red 3px;
}

/*navigation_image*/
.navigation_table .navigation_img{
    display: inline-block;
    margin-right: 200px;
    margin-left: 50px;
}

.navigation_table .navigation_img img{
    width: 250px;
    border-radius: 20px;
    border: solid red 3px;
    margin-top: 50px;
}



/*Examples*/

.examples{
    text-align: left;
    padding-left: 20px;
    width: 75%;
    margin-left: 3px;    
    margin-bottom: 3px; 
    padding-bottom: 20px;
    border-top: solid red 3px; 
}

.navigation .examples .examples_1{
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(35, 35, 35);
    margin-left: 30px;
    color: rgb(30, 255, 0);;
    font-size: 17px;
    width: 400px;
}

.navigation .examples .examples_1 ul{
    list-style: none;
    color: rgb(30, 255, 0);
    font-size: 17px;
    margin: auto; 
}

.navigation .examples .examples_1 p{
    color: rgb(30, 255, 0);
    text-align: left;
    font-size: 17px;
    width: 100%;
    margin: auto;
}
