div.overview h3{
    font-size: 30px;
    font-family: 'creepster', monospace;
    font-weight: 100;
    color: rgb(100, 100, 100);
    width: 75%;
    padding-top: 120px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
    text-decoration: underline rgb(255, 0, 0);
    /*border: SOLID rgb(255, 213, 0) 2PX;*/
    
}

div.overview p{
    color: rgb(255, 255, 255);
    font-size: 17px;
    width: 75%;
    margin: 5px auto;
    text-align: center;
    padding-bottom: 10px;
    /*border: SOLID rgb(0, 242, 255) 2PX;*/
}

div.overview{
    /*border: SOLID green 5PX;*/
    padding-bottom: 20px;
    background-color: rgb(35, 35, 35);
    /*border-bottom: solid red 2px;*/
}
