.overview{
    margin: auto;
    padding-top: 100px;
    width: 60%;
    text-align: center;
}

.overview p{
    font-size: 25px;
    font-family: monospace;
    color: black;
    text-align: center;
}
