html{
    background-color: rgb(35, 35, 35);
    font-family: monospace;
}

header{
    background-color: rgb(0, 0, 0);
    margin: -1px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

body{
    margin: -1px;
    position: relative;
}

.navigation tr td.aside h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.navigation tr td.aside h2{
    color: black;
    font-size: 30px;
    text-decoration: overline rgb(255, 0, 0);
    margin-bottom: 10px;
}

.navigation tr td.aside{
    font-size: 17px;
    color: rgb(255, 255, 255);
    width: 50%;
}

.navigation tr td.main h1{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.navigation tr td.main{
    color: rgb(255, 255, 255);
}

.navigation tr td img{
    margin-top: -90px;
    opacity: 50%;
    position: absolute;
    border: solid rgb(255, 0, 0) 3px;
    border-radius: 5px;

}

td {
    padding: 2%;
}

