html{
    background-color: rgb(255, 255, 255);
    font-family: monospace;
}

header{
    background-color: rgb(0, 0, 0);
    margin: -1px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 6%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

body{
    margin: -1px;
    position: relative;
}
