html{
    background-color: rgb(58, 58, 58);
    font-family: monospace;
}

header{
    background-color: rgb(0, 0, 0);
    margin: -6px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    width: 100%;
    position: fixed;
}

.navigation tr td.aside h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: auto;
    text-decoration: underline;
}

.navigation tr td.aside h2{
    color: black;
    text-decoration: overline;
}

.navigation tr td.aside{
    font-size: 17px;
    color: rgb(151, 151, 151);
    width: 50%;
}

.navigation tr td.main h1{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.navigation tr td.main{
    color: rgb(151, 151, 151);
}

.navigation tr td img{
    margin-top: -90px;
    opacity: 50%;
}

td {
    padding: 2%;
}
